<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>无标题文档</title>
<link rel="stylesheet" th:href="@{Bootstrap4.5/css/bootstrap.min.css}">
<link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
<script type="text/javascript" th:src="@{Bootstrap4.5/js/jquery-3.5.1.min.js}"></script>
<script th:src="@{Bootstrap4.5/js/popper.min.js}"></script>
<script th:src="@{Bootstrap4.5/js/bootstrap.min.js}"></script>
<script th:src="@{Bootstrap4.5/js/bootstrap.bundle.min.js}"></script>
<style>
	#demo img{
		width: 100%;
		height: auto;
		margin-top: 10px;
	}	
</style>
</head>

<body>
	<div class="container">
		<h2 class="text-danger" style="text-align: center" >您好，<span th:text="${username}">{{username}}</span></h2>
		<h3 class="text-danger" style="text-align: center">为你推荐以下内容</h3>
		<br><br>
			<ul class="nav">
				<a class="nav-link text-danger" href="#" style="font-size: 18px">推荐影片</a>
				<li class="nav-item">
					<a class="nav-link text-secondary" href="#" style="font-size: 18px">爱情</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-secondary" href="#" style="font-size: 18px">喜剧</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-secondary" href="#" style="font-size: 18px">动作</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-secondary" href="#" style="font-size: 18px">恐怖</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-secondary" href="#" style="font-size: 18px">动画</a>
				</li>
				<li class="nav-item">
					<a class="nav-link text-danger" href="#" style="font-size: 18px">更多<i class="fa fa-chevron-right ml-2"></i></a>
				</li>
			</ul>
		<div class="row">
			<div class="col-2">
				<div class="card">
					<div class="card-body"><a class="text-secondary" href="#" th:text="${movies[0]}">aaaa</a></div>
				</div>
			</div>
			<div class="col-2">
				<div class="card">
					<div class="card-body"><a class="text-secondary" href="#" th:text="${movies[1]}">aaaa</a></div>
				</div>
			</div>
			<div class="col-2">
				<div class="card">
					<div class="card-body"><a class="text-secondary" href="#" th:text="${movies[2]}">aaaa</a></div>
				</div>
			</div>
			<div class="col-2">
				<div class="card">
					<div class="card-body"><a class="text-secondary" href="#" th:text="${movies[3]}">aaaa</a></div>
				</div>
			</div>
			<div class="col-2">
				<div class="card">
					<div class="card-body"><a class="text-secondary" href="#" th:text="${movies[4]}">aaaa</a></div>
				</div>
			</div>
			<div class="col-2">
				<div class="card">
					<div class="card-body"><a class="text-secondary" href="#" th:text="${movies[5]}">aaaa</a></div>
				</div>
			</div>
			<div id="demo" class="carousel slide col-8" data-ride="carousel">
			<!-- 指示符 -->
				<ul class="carousel-indicators">
					<li data-target="#demo" data-slide-to="0" class="active"></li>
					<li data-target="#demo" data-slide-to="1"></li>
					<li data-target="#demo" data-slide-to="2"></li>
				</ul>

			<!-- 轮播图片 -->
				<div class="carousel-inner">
					<div class="carousel-item active">
						<img src="img/banner2.jpg">
					</div>
					<div class="carousel-item">
						<img src="img/banner3.jpg">
					</div>
						<div class="carousel-item">
					<img src="img/banner4.jpg">
					</div>
				</div>

			<!-- 左右切换按钮 -->
				<a class="carousel-control-prev" href="#demo" data-slide="prev">
					<span class="carousel-control-prev-icon"></span>
				</a>
				<a class="carousel-control-next" href="#demo" data-slide="next">
					<span class="carousel-control-next-icon"></span>
				</a>
			</div>
			<div class="col-4" style="margin-top: 10px">
				<ul class="nav justify-content-between">
					<li class="nav-item">
						<a class="nav-link text-secondary" href="#">1、隐秘的角落</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-warning" href="#">4868在看</a>
					</li>
				</ul>
				<ul class="nav justify-content-between">
					<li class="nav-item">
						<a class="nav-link text-secondary" href="#">2、快乐大本营</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-warning" href="#">3231在看</a>
					</li>
				</ul>
				<ul class="nav justify-content-between">
					<li class="nav-item">
						<a class="nav-link text-secondary" href="#">3、奔跑吧，兄弟</a>
					</li>			
					<li class="nav-item">
						<a class="nav-link text-warning" href="#">3143在看</a>
					</li>
				</ul>
				<ul class="nav justify-content-between">
					<li class="nav-item">
						<a class="nav-link text-secondary" href="#">4、青春有你2</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-warning" href="#">2824在看</a>
					</li>
				</ul>
				<ul class="nav justify-content-between">
					<li class="nav-item">
						<a class="nav-link text-secondary" href="#">5、斗罗大陆</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-warning" href="#">2721在看</a>
					</li>
				</ul>
				<ul class="nav justify-content-between">
					<li class="nav-item">
						<a class="nav-link text-secondary" href="#">6、创造2020</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-warning" href="#">2642在看</a>
					</li>
				</ul>
				<ul class="nav justify-content-between">
					<li class="nav-item">
						<a class="nav-link text-secondary" href="#">7、传闻中的迁迁</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-warning" href="#">2521在看</a>
					</li>
				</ul>
				<ul class="nav justify-content-between">
					<li class="nav-item">
						<a class="nav-link text-secondary" href="#">8、极限挑战</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-warning" href="#">2089在看</a>
					</li>
				</ul>
				<ul class="nav justify-content-between">
					<li class="nav-item">
						<a class="nav-link text-secondary" href="#">9、小娘惹</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-warning" href="#">1921在看</a>
					</li>
				</ul>
				<ul class="nav justify-content-between">
					<li class="nav-item">
						<a class="nav-link text-secondary" href="#">10、剧中人</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-warning" href="#">1833在看</a>
					</li>
				</ul>
				<ul class="nav justify-content-between">
					<li class="nav-item">
						<a class="nav-link text-secondary" href="#">11、汪汪队立大功第二季</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-warning" href="#">1690在看</a>
					</li>
				</ul>
				<ul class="nav justify-content-between">
					<li class="nav-item">
						<a class="nav-link text-secondary" href="#">12、乘风破浪的姐姐</a>
					</li>
					<li class="nav-item">
						<a class="nav-link text-warning" href="#">1409在看</a>
					</li>
				</ul>	
			</div>
		</div>
	</div>
	<div class="container-fluid">
		<footer class="bg-secondary text-white text-center">
		Copyright@猫眼影院，在线购票，请联系我们**************************************
		</footer>
	</div>
</body>
</html>
